# IDEs and editors
.idea/
.vscode/
*.swp
*.swo

# OS files
.DS_Store
Thumbs.db

# Terraform
.terraform/
*.tfstate
*.tfstate.backup
*.tfplan
terraform/environments/*.auto.tfvars
*.tfvars
terraform.tfvars
